

<h2>購入状態</h2>

<div class="col-xs-6">
<h4>購入確定商品
<!-- whereでカラムを指定してからcount -->
<%= link_to @purchases.where(transaction_status: "購入確定").count,admin_purchase_kakutei_path %>
件
</h4>

<h4>請求書発送中商品
<%= link_to @purchases.where(transaction_status: "請求書発送中").count,admin_purchase_seikyu_path %>
件
</h4>

<h4>入金確認商品
<%= link_to @purchases.where(transaction_status: "入金確認").count(transaction_status=2),admin_purchase_nyukin_path %>
件
</h4>

<h4>発送済み商品
<%= link_to @purchases.where(transaction_status: "商品発送済み").count(transaction_status=3),admin_purchase_hassouzumi_path %>
件
</h4>
</div>