
<% if @items.present? %>

<h2>商品一覧</h2>

<div class="col-xs-6">
<table class="table table-bordered">
	<tr>
		<th>商品ID</th>
		<th>画像</th>
		<th>名前</th>
		<th>状態</th>
	</tr>

	<% @items.each do |item| %>
	<tr>
		<td><%= item.id %></td>
		<td><%= attachment_image_tag item, :image, size: "100x100" %></td>
		<td><%= link_to "#{item.item_name}", admin_item_path(item) %></td>
		<td>
			<% if item.selling_status==true %>
				<p>販売中</p>
			<% else %>
				<P>売却済み</P>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
</div>

<%= paginate @items %>

<% else %>

<h2>登録されている商品はありません</h2>

<% end %>

