

<h2>コメント編集</h2>

<div class="col-xs-6">
<%= form_for(@store,url:admin_store_path(@store)) do |f| %>
<table class="table table-bordered">
	<tr>
		<td>現在のコメント:<%= @store.comment %></td>
	</tr>
	<tr>
		<td>
			<%= f.text_area :comment %>
			<%= f.submit "編集" %>
		</td>
	</tr>
</table>
<% end %>
</div>


