
<h2>サイト概要</h2>

<div class="col-xs-6">


<h4>このサイトは、古物商を営む当店「拓也コレクション」のホームページです。</h4>
<p>
	主に、当店が主催する骨董市の情報を発信しています。<br>
	（骨董市とは、骨董品のみのフリーマーケットのようなものです）<br>
</p>

<p>
	また、このサイトでは当店が出品する骨董品をご購入いただけます。<br>
	ご利用の方は、サイト上部の会員登録をお願いいたします。<br>
</p>

<p>
	※骨董市情報、商品情報は会員登録をしなくてもご確認頂けます。
</p>

</div>