
<div class="col-xs-6">
<h1>拓也コレクション事務所概要</h1>

<table class="table table-bordered">
	<tr>
		<th>住所</th>
		<td>埼玉県さいたま市緑区松木2-10-13</td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td>048-875-5156</td>
	</tr>
		<tr>
		<th>携帯番号</th>
		<td>090-8846-5800</td>
	</tr>
		<tr>
		<th>FAX</th>
		<td>048-875-5156</td>
	</tr>
		<tr>
		<th>代表者</th>
		<td>石内　政志</td>
	</tr>
</table>

<table>
	<tr>
		<th>拓也コレクションよりご案内</th>
	</tr>
	<tr>
		<td><%= @store.comment %></td>
	</tr>
</table>
</div>

