

<%= render 'layouts/sidebar' %>


<h1>user.store</h1>

<%= form_for(@store,url:admin_store_path(@store)) do |f| %>
<table>
	<tr>
		<th>
			<%= @store.comment %>
		</th>
	</tr>
	<tr>
		<th>
		</th>
	</tr>
</table>
<% end %>

