

<div class="col-xs-7">
<h2>越谷（北越谷）香取神社骨董市開催地情報</h2>

<table class="table table-bordered">
	<tr>
		<th>開催日</th>
		<td>
			<%= @katori.day %>
		</td>
	</tr>
	<tr>
		<th>概要</th>
		<td>
			<%= @katori.content %>
		</td>
	</tr>
	<tr>
		<th>時間</th>
		<td>
			7:00～15:30　※片付けの時間が早まる場合がございます。
		</td>
	</tr>
	<tr>
		<th>会場</th>
		<td>
			<a>北越谷香取神社</a>　境内　（埼玉県越谷市大沢３－１３－３８）
		</td>
	</tr>
	<tr>
		<th>入場料</th>
		<td>
			無料
		</td>
	</tr>
	<tr>
		<th>出店数</th>
		<td>
			40～50店
		</td>
	</tr>
	<tr>
		<th>主催</th>
		<td>
			一期一会　香取神社骨董市実行委員会
		</td>
	</tr>
	<tr>
		<th>協力</th>
		<td>
			<a>北越谷香取神社</a>・地元商店会・コルソ骨董市・浦和宿ふるさと市
		</td>
	</tr>
	<tr>
		<th>後援</th>
		<td>
			公益社団法人さいたま観光国際協会・一般社団法人埼玉県物産観光協会
		</td>
	</tr>
	<tr>
		<th>お問い合わせ</th>
		<td>
			048-875-5156［当日会場：090-8846-5800］ ※ご注意：日程・時間・場所などは、天候や諸事情により変更される場合があります。
		</td>
	</tr></table>



	</div>
