
<div class="row">
	<div class="col-xs-6">
		<%= render 'layouts/sidebar' %>
	</div>



<div class="col-xs-6">
<h1>katori</h1>

<table>
	<tr>
		<th>
			<%= @katori.day %>
		</th>
	</tr>
	<tr>
		<th>
			<%= @katori.content %>
		</th>
	</tr>
	<tr>
		<th>
		</th>
	</tr>
</table>



	</div>
</div>
