
<%= render 'layouts/sidebar' %>


<h1>tukinomiya</h1>


<table>
	<tr>
		<th>
			<%= @tukinomiya.day %>
		</th>
	</tr>
	<tr>
		<th>
			<%= @tukinomiya.content %>
		</th>
	</tr>
	<tr>
		<th>
		</th>
	</tr>
</table>
